<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div class="container">
        <p>Hello <strong><%= name %></strong></p>
        <p>We are happy to on board you. We can't wait to see your clash/war.</p>
        <p>If you have any query then don't hesitate to contact us back</p>
    <%- include('../partials/footer') %>
        
    </div>
    
</body>
</html>