<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div class="container">
        <h1>Email-verify URL is incorrect</h1>
        <p>Please make sure you didn't change anything in verification URL</p>
        <p>Else-case, url already used once</p>
        <p>If you have any query then don't hesitate to contact us back</p>
    <%- include('../partials/footer') %>
        
    </div>
    
</body>
</html>